.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
.claude/**
src/**
.gitignore
.yarnrc
.env
.env.*
eslint.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!images/icon.png
